<div class="top-panel">
    <img src="../../../assets/education.svg" class="logo">
    <span class="logoname">BOOKSTORE</span>
</div>
<div class="main">
    <div class="main1">
        <h2 class="maintext">Forgot Your Password?</h2>
    </div>
    <form class="main2" [formGroup]="Forgotpassword" (ngSubmit)="OnSubmit()">
        <div class="inner1">
            <span style="margin-top: 0px;color: grey;">Enter Your Email Address We'll Send You A Link To Reset Your
                Password</span>
        </div>
        <div class="inner2">
            <mat-form-field appearance="outline">
                <mat-label aria-autocomplete="off">Email id</mat-label>
                <input matInput type="email" formControlName="EmailId">
            </mat-form-field>
        </div>
        <div class="inner3">
            <div class="logbtn">
                <button class="button" style="color: white;">Reset Password</button>
            </div>
        </div>
        <div class="inner4">
            <button class="cabtn" routerLink="/Signup">
                <span style="font-size: 20px;font-weight: 550;">CREATE ACCOUNT</span>
            </button>
        </div>
    </form>
</div>