.top-panel
{
    background-color: rgb(163, 0, 33);
    height: 60px;
    width: 1920px;
}
.logo {
    margin-left: 200px;
    cursor: pointer;
    margin-top: 20px;
}
.logoname
{
    margin-bottom: 10px;
    color: white;
    margin-left: 10px;
    font-size: 20px;
}
.main
{
    margin: auto;
    margin-top: 200px;
    height: 500px;
    width: 500px;
}
.maintext
{
    margin-left: 118px;
    font-size: 25px;
}
.main1
{
    margin-top: 80px;
    margin-bottom: 30px;
}
.main2
{
    border: 1px solid lightgrey;
    height: 70%;
    width: 90%;
    margin-left: 27px;
}
.inner1
{
    margin: auto;
    width: 75%;
    margin-top: 50px;
    height: 10%;
}
.inner2,.inner3
{
    margin: auto;
    width: 75%;
    height: 20%;
}
.inner3
{
margin-top: 10px;
}
.inner4
{
    margin: auto;
    width: 100%;
    height: 40%;
}
mat-form-field
{
    margin-top: 15px;
    width: 100%;
}
.button {
    background-color: #A03037;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.cabtn
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(238, 238, 238);
    margin-top: 15px;
    width: 100%;
    height: 100px;
}