<div class="top-panel">
    <img src="../../../assets/education.svg" class="logo">
    <span class="logoname">BOOKSTORE</span>
</div>
<div class="main">
    <div class="main1">
        <h2 class="maintext">Reset Your Password?</h2>
    </div>
    <form class="main2" [formGroup]="Resetpassword" (ngSubmit)="OnSubmit()">
        <br>
        <div class="inner2">
            <mat-form-field appearance="outline">
                <mat-label aria-autocomplete="off">Password</mat-label>
                <input matInput type="password" formControlName="Password"/>
                <mat-hint style="font-size: 12px;">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            </mat-form-field>
        </div>
        <br>
        <br>
        <div class="inner2">
            <mat-form-field appearance="outline">
                <mat-label aria-autocomplete="off">Confirm Password</mat-label>
                <input matInput type="password" formControlName="ConfirmPassword"/>
            </mat-form-field>
        </div>
        <div class="inner3">
            <div class="logbtn">
                <button class="button" style="color: white;">Submit</button>
            </div>
        </div>
        <button class="login" mat-stroked-button color="warn" routerLink="/Signin" style="margin-left: 190px;margin-top: 5px;">LOGIN</button>
    </form>
</div>